@using HIN_ventures.Models
<div class="bg-light border p-2 col-5 offset-1">
    <h4 class="text-secondary">AssignmentId - @AssignmentDto.Id</h4>
    @*@if (!AssignmentDto.IsActive) 
    {*@
        @AssignmentDto.Title<br />
        @AssignmentDto.Price.ToString("c")<br />
    @*}*@


    <input type="checkbox" @bind-value="AssignmentDto.IsActive" checked="@(AssignmentDto.IsActive?" checked":null)" /> &nbsp; Sign up for this assignment!<br />
    <span>This Assignment is @(AssignmentDto.IsActive?"Assigned": "Not Assigned")</span>

</div>

@code {

    [Parameter]
    public AssignmentDto AssignmentDto { get; set; }

}
